/* Media queries
    Responsive design
    Style element on different screen sizes
    starting-from ---->  min-width 
    upto ------------->  max-width
    Mobile first
    */

body {
  background: yellow;
}

.banner {
  background: green;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  body {
    background: red;
  }
  .banner {
    background: yellow;
  }
  h1 {
    color: black;
    font-size: 50px;
  }
}

/* @media screen and (min-width: 768px) {
  body {
    background: coral;
  }
  .banner {
    background: brown;
  }
  h1 {
    color: pink;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
  }
} */
